body {
  font-family: "Roboto", sans-serif;
  background-color: aliceblue;
  color: #333333;
}

#app {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vw;
  margin: 0 auto;
  justify-content: center;
}

h1, h3 {
  text-align: center;
}

.route-box {
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  min-width: 4rem;
  text-align: center;
  cursor: pointer;
}
